body{
font-family: Arial, sans-serif;
margin:0;
background:#fdf6f9;
}

.container{
width:80%;
margin:auto;
}

header{
background:#6a4c93;
color:white;
text-align:center;
padding:30px;
border-bottom:6px solid #f7a072;
}

nav{
background:#f7a072;
text-align:center;
padding:12px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
font-size:16px;
}

nav a:hover{
color:#3a0ca3;
}

section{
background:white;
margin:25px 0;
padding:25px;
border-left:8px solid #6a4c93;
border-radius:6px;
}

h2{
color:#6a4c93;
}

table{
width:100%;
border-collapse:collapse;
margin-top:15px;
}

table, th, td{
border:1px solid #ddd;
}

th{
background:#6a4c93;
color:white;
padding:10px;
}

td{
padding:10px;
background:#fff8f0;
}

ul{
line-height:1.8;
}

footer{
background:#6a4c93;
color:white;
text-align:center;
padding:15px;
margin-top:30px;
}
